grant codeBase "file:compileAndRun${/}server${/}server.jar" {
	permission java.net.SocketPermission "localhost:45678", "connect,accept,listen";
	permission java.io.FilePermission "file:compileAndRun${/}server${/}server", "read,write";
};
