grant codeBase "file: E:/Ambiente de Trabalho - atalhos/FCUL/3º Ano/2ºSemestre/SC/Projeto/git/compileAndRun/server/*" {
	permission java.net.SocketPermission "localhost:45678", "connect,accept,listen";
	permission java.io.FilePermission "E:\\Ambiente de Trabalho - atalhos\\FCUL\\3º Ano\\2ºSemestre\\SC\Projeto\\git\\server\\*", "read,write";
};